footer {
    margin-top: 200px;
    width: inherit;
    background-color: rgba(200, 200, 200, 0.2);
    height: 50px;
    padding: 50px;
    font-weight: 600;
    max-width: 100vw;
}

@media (max-width: 1000px) {
    footer {
        font-size: 10pt;
    }
}